    <table>
      <thead>
        <tr>
          <th>Departure Date</th>
          <th>Departure Point</th>
          <th>Destination</th>
          <th>Seats</th>
          <th>Price</th>
          <% if user_signed_in? %>
            <th>Book</th>
          <% end %>
        </tr>
      </thead>
      <%= render :partial => "trips/trip", :collection => @trips %>
    </table>