
<!-- Foundation modal logic that will display the map for the trip route -->
<div id="myModal" class="reveal-modal">
  <h2>Awesome. I have it.</h2>
  <div id="map-canvas" style="width:500px; height:550px;"></div>
</div>
<%= render :partial => "trips/trip", :collection => @trips %>
