    <table>
      <thead>
        <tr>
          <th>Departure Date</th>
          <th>Departure Point</th>
          <th>Destination</th>
          <th>Seats</th>
          <th>Price</th>
        </tr>
      </thead>
      <%= render :partial => "trips/trip", :collection => @trips %>
    </table>