<!-- Foundation reveal modal logic that will display the map for the trip route -->
<div id="myModal" class="reveal-modal">
  <div id="map-canvas" style="width:400px;height:300px; max-width:400px; max-height:300px;"></div>
</div>
<%= render :partial => "trips/trip", :collection => @trips %>
