  <!-- Devise auth menu partial for registration -->
  <% if user_signed_in? %>
    <li><%= link_to('My Trips', new_trip_path, :class => "button") %></li>
    <li><%= link_to('Edit registration', edit_user_registration_path, :class =>"button") %></li>
  <% else %>
    <li><%= link_to('Register', new_user_registration_path, :class =>"button")  %></li>
  <% end %>
