<!-- Application Helper method title will reference this tag and render it's value in layout view-->
<% title 'Search' %>

<div id="search-container" class="row">

  <div class="large-12 columns search">

    <div class="row">
      <div class="large-12 columns">
        <h1>Catch a lift to anywhere.</h1>
      </div>
    </div>

    <div class="row search-bar">

      <%= form_tag '/trips/search', class: 'custom geocode', :method => 'get' do %>
      <!-- Use the geocode.js to auto complete the departure and destination city fields -->
        <div class="large-4 columns">
          <%= text_field_tag 'depart',nil, placeholder: 'Departure City', class:'depart'  %>
        </div>

        <div class="large-4 columns">
          <%= text_field_tag 'destination',nil, placeholder: 'Destination City', class: 'destination' %>
        </div>

        <div class="large-2 columns">
          <%= text_field_tag 'date', nil, placeholder: Date.today, class: 'date'%>
        </div>

        <div class="large-2 columns">
          <input type="submit" id="search-button" value="Search" />
        </div>

      <%end %>

    </div>

  </div>

</div>
