@import "compass";
@import "foundation_and_overrides";
$footer_height:5.3em;

html,body {
  height: 100%;
}

body {
  background:image-url('background.webp');
  background-size:200%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main {
  min-height:100%;
  height:100%;
  margin: 0 auto -#{$footer_height};
}

.push {
  height:$footer_height;
}

input[type='submit'] {
  @include button;
}

#search-container {
  height: 100%;
  margin: 30% 0;
  #search-button {
   padding-bottom: 0.5em;
   margin-bottom:0;
   position: relative;
   top: -3px;
  }

}

.columns.search {
  padding: 2em;
  background:$color-1;
  background: rgba($color-1, 0.8);
  @include box-shadow(black 1px 1px 5px);
}

.page-body {
  padding: 2em;
  background:$color-1;
  background: rgba($color-1, 0.8);
}
.search-bar {
  background-color:$color-1;
  padding:2px;
  padding-top:7px;
  @include box-shadow(black 0px 0px 2px);
  @include border-radius(3px);
  //@include single-box-shadow;
  border: 1px solid black;
  input {
    margin-bottom:0;
    border:1px solid black;
    @include border-radius(3px);
  }
}

.footer {

  margin: 0;
  width:100%;
  max-width:100%;
  color: $color-1;
  background:rgba($color-3,0.7);
  a {
    font-weight:normal;
    color: $color-1;
    @include text-shadow(1px 1px 1px $color-3);
  }
  .large-12 {
  }
}
//https://github.com/zurb/foundation/issues/2462 google maps on zurb
#map-canvas *, #map-canvas *:before, #map-canvas *:after {
  -moz-box-sizing: content-box!important;
  -webkit-box-sizing: content-box!important;
  box-sizing: content-box!important;
}
#map-canvas img {
  max-width: none;
}
#map-canvas label {
  width: auto;
  display: inline;
}
